+++
title = "Кроссбордер"
+++

<!-- Hero section -->
{{< blocks/cover title="Кроссбордер" image_anchor="center" height="full" color="dark" >}} 
<div class="mx-auto">
  <p class="lead mt-5">Помощь для продавцов, продающих товары из-за рубежа</p>
  <a
    class="btn btn-lg btn-primary mr-3 mb-4"
    href="/docs/registration/registration_on"
  >
    Начать <i class="fas fa-arrow-alt-circle-right ml-2"></i>
  </a>
</div>
{{< /blocks/cover >}}

<div id="overview">
  <div class="contain">
    <h4 class="section-head">Что такое кроссбордер?</h4>
    <p>
      Тут какое-то описание
    </p>
  </div>
</div>
